
@{
    ViewBag.Title = "Index";
}

<div class="bgr">

	</div>

	<div class="main-container">
		<div class="container-fluid">
			<header class="header-wrapper">
				<nav>

				</nav>
			</header>

			<div class="content one-column login">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<div class="logo-land">
							<img src="https://www.pathofexile.com/gen/image/YTozOntpOjA7aTowO2k6/MjthOjI6e3M6MjoiaWQi/O2k6MDtzOjQ6InNpemUi/O3M6NjoiYXZhdGFyIjt9/aToxO2k6MTt9/67521ca7c0/Path_of_Exile_Gallery_Image.jpg" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<div class="column login">
							<em class="lead">Log in</em>
							<br />
							<form action="/Dashboard/Index" accept-charset="utf-8">
								<div class="form-group">
									<label class="sr-only" for="name">E-mail</label><p class="help-block"></p>
									<input id="name" class="form-control" type="text" name="name" placeholder="E-mail" data-validation-required-message="Fill in your e-mail address here">
								</div>
								<div class="form-group">
									<label class="sr-only" for="address">Wachtwoord</label><p class="help-block"></p>
									<input id="address" class="form-control" type="text" name="address" placeholder="Password" data-validation-required-message="Fill in your password here">
								</div>
								<div class="validation-summary-errors" data-valmsg-summary="true">
									<ul>
										<li>The e-mail and/or password you entered is incorrect</li>
									</ul>
								</div>
								<a href="/Dashboard/Index" class="btn btn-primary" type="submit">User</a>
							</form>
							<form action="password-reminder.html" accept-charset="utf-8">
								<i class="small pass-reminder"><a href="#" data-parent="#accordion" data-target="#collapseForgotPass" data-toggle="collapse">Forgot password?</a></i>
								<div class="form-group pass-reminder-field collapse" id="collapseForgotPass">
									<label class="sr-only" for="address">E-mail</label><p class="help-block"></p>
									<input id="address" class="form-control" type="text" name="address" placeholder="E-mail" required data-validation-required-message="Fill in your e-mail address here">
									<div>
										<button class="btn btn-primaryr" type="submit">Reset password</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

