@model poe_website.Models.Character.CharacterOverviewDisplayModel

<div class="row rowitem">
	<div class="col-xs-3"><p>@Html.DisplayFor(m => m.CharacterName)</p></div>
	<div class="col-xs-2"><p>@Html.DisplayFor(m => m.Class)</p></div>
	<div class="col-xs-7"><p>@Html.DisplayFor(m => m.BuildDescription)</p></div>
</div>
