<div class="column aside">
    <h4><span class="glyphicons cogwheels"></span>Menu</h4>
    <br />
    <ul class="buttonlist">
        <li><a class="btn btn-block btn-topr topr-alt">Klanttypes</a></li>
        <li><a class="btn btn-block btn-topr topr-alt">Uitvoerdertypes</a></li>
        <li><a class="btn btn-block btn-topr topr-alt">Pakketten</a></li>
        <li><a class="btn btn-block btn-topr topr-alt">Project typen</a></li>
        <li><a class="btn btn-block btn-topr topr-alt" href="beheer-productoverzicht-topr.html">Producten</a></li>
        <li><a class="btn btn-block btn-topr topr-alt">Project Templates</a></li>
        <li><a class="btn btn-block btn-topr topr-alt">Partners</a></li>
        <li class="active"><a class="btn btn-block btn-topr topr-alt">Klanten</a></li>
        <li><a class="btn btn-block btn-topr topr-alt" href="beheer-systeeminstellingen-topr.html">Systeeminstellingen</a></li>
    </ul>
</div>
